.oddRow {
    background-color: rgba(128, 128, 128, 0.2);
}
.evenRowLight {
    background-color: rgba(248,248,248,1.0);
}

thead  {
    height: 30px;
}

tbody tr{
    font-size: 0.8rem;
}

tr:hover{
    background-color: rgba(0,0,0,1);
    color: whitesmoke
}

td, th {
    /* text-align: left; */
    padding: 1px !important;
    padding-left: 3px;
}
table{
    min-width: 1380px;
}
