img {
    width: 250px;
}

@media print {
	body * {
		visibility: hidden;
		zoom: 0.985;
		/* top: -90px; */
        top: 10px
	}

	

	#printablediv,
	#printablediv * {
		visibility: visible;
	}
	#printablediv2,
	#printablediv2 * {
		visibility: visible;
	}

	#printablediv {
		/* margin-top: 20px; */
		display: flex;
		flex-direction: column;
		justify-content: start;
		width: 100%;
		height: 90%;
		align-items: center;
		box-shadow: none !important;
		background-color: transparent !important;
        margin-top: 100px !important;
        
	}

	#printablediv2 {
		/* margin-top: 20px; */
		display: flex;
		flex-direction: column;
		justify-content: start;
		width: 100%;
		height: 90%;
		align-items: center;
		box-shadow: none !important;
		background-color: transparent !important;
	}

	#printablediv2 div,
	#printablediv div {
		background-color: transparent;
		box-shadow: none !important;
	}
	
    
	#printablediv {
        border-bottom: 1px dotted black
	}

	.print-container {
		max-width: 150% !important;
		display: flex;
		flex-direction: column;
	}

    
    .controleColheitaHeader{
        background-color: #1275b5 !important;
    }


}

.print-container {
	width: 100%;
}
