img {
    width: 250px;
}

@media print {
	body * {
		visibility: hidden;
		zoom: 0.985;
		/* top: -90px; */
        top: 10px
	}



	#printabledivRc,
	#printabledivRc * {
		visibility: visible;
	}

	#printabledivRc {
		/* margin-top: 20px; */
		display: flex;
		flex-direction: column;
		justify-content: start;
		width: 100%;
		height: 90%;
		align-items: center;
		box-shadow: none !important;
		background-color: transparent !important;
        margin-top: 100px !important;
        
	}

	#printabledivRc div {
		background-color: transparent;
		box-shadow: none !important;
	}
	
    
	

	.print-container {
		max-width: 150% !important;
		display: flex;
		flex-direction: column;
	}

    
    .controleColheitaHeader{
        background-color: #1275b5 !important;
    }


}

.print-container-romaneio {
	width: 100%;
}
