
@media print{
	body * {
		visibility: hidden;
	}

    

	#printDivProgram * {
		visibility: visible;
        top: -100px;
	}
    
    .pageBreak{
        page-break-after: always;
        /* color: red; */
    }

	#printDivProgram:first-child{
        width: 50%;
    }
	#printDivProgram {
		/* margin-top: 20px; */
        position: fixed;
        top: 50px;
        margin: 50px;
		display: flex;
		flex-direction: column;
		/* justify-content: start; */
		width: 90%;
		height: auto;
		align-items: center;
		box-shadow: none !important;
		background-color: transparent !important;
	}
    
	
    
	#printDivProgram:first-child{
		background-color: #1275b5;
	}
	
    #printDivProgram div{       
        box-shadow: none !important;
        /* background-color: transparent !important; */
    }
}


