
@media print {
    .estagioContainer{
        margin: 5px;
        page-break-inside: avoid;
    }
}

.container-loader{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.mainProgramContainer {
    width: 80%;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.estagioContainer {
    border: 1.5px solid black;
    width: 100%;
    background-color: white !important;
    /* padding: 10px 5px; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr 0.8fr;
    justify-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 1px 1px;
    /* page-break-inside: avoid !important; */
    
}

/* .estagioContainer > div  {
    page-break-inside: avoid;
} */

.estagioTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.estagioTitle div:first-child{
    margin-bottom: -5px;
}
.estagioTitle div:last-child{
    color: grey;
    font-size: 12px;
    font-weight: bold;
}
.estagioContainer div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerEstagios {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr 0.8fr;
    justify-items: center;
    font-weight: bold;
    margin-bottom: -5px;
    font-size: 1rem;
    /* border: 1px solid black;
    background-color: whitesmoke; */
}

/* .headerEstagios div{
    text-transform: uppercase;
} */

.produtosMainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
}

.produtosMainContainer div{
    /* text-transform: lowercase; */
    border: 0.5px dotted black;
    /* border-left: 0px; */
    /* border-right: 0px; */
    width: 100%;
    display: inline-block;
    
}
/* .produtosMainContainer div::first-letter{
    text-transform: uppercase;
} */



.produtosMainContainer div:first-child{
    border-top: 0px;
    /* border-right: 0px; */
}
.produtosMainContainer div:last-child{
    border-bottom: 0px;
}

.obsMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.areaTotalContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.areaTotalContainer h6:first-child{
font-weight: 900;
margin-bottom: 10px;
align-self: flex-end;
}

.consolidadoProdutosMainContainer{
    border-bottom: 0.5px dotted;
}

.consolidadoProdutosMainContainer div:first-child{
    /* border-bottom: 0.5px dotted; */
    text-align: left;
}
.consolidadoProdutosMainContainer div:nth-child(2){
    /* border-bottom: 0.5px dotted; */
    text-align: right;
    margin-right: 40%;
}
.consolidadoProdutosMainContainer div:last-child{
    /* border-bottom: 0.5px dotted; */
    /* text-align: right; */
}

.consolidadoProdutosMainContainerHeader{
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.consolidadoProdutosMainContainer{
    text-transform: lowercase;
    display: inline-block;
}

.consolidadoProdutosMainContainer div::first-letter{
    text-transform: capitalize;
}



.quantidadeTotal div{
    text-align: right;
    padding-right: 40%;
}

.produtos div{
    text-align: left;
    padding-left: 5%;
    font-size: 1em;
    /* font-weight: 600; */
}


.headerSticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #343a40;
    color: white;
    transform: scale(0.2); /* Shrink the header */
    transition: all 0.3s ease;   
}