.main-container{
    width: 100%;
    /* min-width: 1024px; */
    min-height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 10fr; */
    padding-top: 10px;
    /* flex-direction: column; */
    /* align-items: center; */
    color: whitesmoke;
    /* background-color: grey; */
    overflow: auto;
}

.drawerTrans{
    transition: all 1d ease-in-out;
}