.main-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    color: whitesmoke;
    /* background-color: grey; */
}