.mainDiv {
    /* background-color: rgb(127,255,212, 0.3); */
    border-radius: 8px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    min-height: 90%;
    /* border: 1px solid black; */
    padding: 10px;
}

.dashboardDiv {
    /* background-color: rgb(127,255,212, 0.3); */
    border-radius: 8px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: baseline; */
    width: 100%;
    min-height: 90%;
    /* border: 1px solid black; */
    padding: 10px;
}


.emptyFarm{
    width: 100%;
    height: 100%;
    font-size: 32px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.formDiv {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.formDiv > div {
    border-radius: 8px;
}



.dashLeft{
    width: 65%;
}

.dashRight{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: sticky;
    top: 0;
    padding: 10px;
    border-radius: 8px;
    padding-top: 0px;

}

.appDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
}


.mainDivLeft {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
}

.progressApp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.labelDivApp {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    font-weight: bold;
    /* background-color: red; */
}

.labelDivApp p:first-child:hover{
    cursor: pointer;
    color: grey;

}

.labelDivApp p:first-child {
    /* background-color: red; */
    flex-grow: 0;
    min-width: 50px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-weight: 800;
}
.labelDivApp div:nth-child(2) {
    /* background-color: green; */
    flex-grow: 1;
    display: flex;
    gap: 10px;
}


.numberDivApp {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

.numberDivApp p, .labelDivApp p {
    margin: 0px;
    margin-bottom: 0px;
    /* font-weight: 400; */
}

.numberDivApp p{
    min-width: 60px;
}

.mainDivApp {
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}
.headerApp{
    font-size: 1rem;
    border-radius: 8px;
    padding: 10px 10px 0px 10px;
    margin: 5px 5px 0px 5px;
}


.imgFarmDiv{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.dateDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2px;
    /* font-size: 1.2rem; */
    font-style: italic;
    font-weight: 600;
    padding-left: 10px;
    /* background-color: red; */
    margin-right: 250px;
}

.resumoAppPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.headerDivApp {
    width: 100%;
    margin-bottom: -10px;
    margin-top: 10px;
}


.bodyDivApp {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 8px;

}

.geralDivResumoHeader {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.geralDivResumoHeader span{
    padding-top: 20px;
}

.geralDivResumoBody {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 5px 0px;
}
.geralDivResumoBody span::after{
    content: " ................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... ";
    position: absolute;
    padding-left: 5px;
}

.geralDivResumoBody span{
    position: relative;
    width: 90%;
    overflow: hidden;
}

.valueDivGeral {
    margin-left: 10px;
    min-width: 80px;
    text-align: end;
}

.resumoFazendasPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}


.resumoFazendasMainDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 90%; */
    padding: 10px 0px 0px 0px;
    /* margin-top: -10px; */
}

.resumoFazendasMainDiv span::after{
    content: " ................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................... ";
    position: absolute;
    padding-left: 5px;
}

.resumoFazendasMainDiv span{
    position: relative;
    width: 90%;
    overflow: hidden;
    font-size: large;
}


.resumoByCultura {
    display: flex;
    flex-direction: row;
    /* width: 90%; */
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

.progressCircularDiv {
    margin-left: 10px;
    margin-right: 15px;
    min-width: 6px;
}

.tipoDivApp  {
    /* flex-grow: 2; */
    min-width: 230px;
    /* background-color: rebeccapurple; */
}

.parcelasDetailDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.parcelasDetailDivHide {
    height: 0;
}


 .pluviNumber{
    font-size: 14px;
    text-align: center;
}

.pluviHeader{
    font-size: 16px;
    padding-left: 12px;
}

.headerDate {
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}

.headerDate p:last-child {
    margin: 0;
    font-size: 0.7rem;
    font-style: italic;
    
}
.headerDate p {
    margin: 0;
}
.headerTitle {
    /* text-align: center; */
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
    padding-left: 12px;
    align-self: center;
}


.pluviGood {
    color: whitesmoke;
    font-weight: bold;
}

.pluviNotZero {
    color: yellow;
}

.pluviZero {
    color: red;
    font-weight: bold;
}

.rowTablePluvi:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.3) !important;
}

.rowTablePluvi:hover {
    background-color: rgba(245, 245, 245, 0.8) !important;
}
.rowTablePluvi:hover span, .rowTablePluvi:hover .pluviGood  {
    color: black;
}