.form-class input, #observacao  {
    background-color: #072f48;
    border-radius: 8px;
}
.observacao-style > div {
    background-color: #072f48 !important;
    border-radius: 8px;
}

.form-class div>div>fieldset:focus {
    /* background-color: #1373b4; */
    border-radius: 8px;
    border-color: whitesmoke;
}

.form-class label{
    color: grey
}


.helperTextFormat {
    color: whitesmoke !important;
    font-size: 0.8rem
}
.helperTextFormatError {
    color: red !important;
    font-size: 0.6rem
}