.tabs div {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	-webkit-clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
	clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
}
