table {
    width: 100%;
    border-spacing: 1px;
}

table thead {
    background-color: black;
    color: whitesmoke;
}


.data-format {
    text-align: center;
}

.solicitacao-pendente {
    background-color: #fd0f04;
    /* color: red */
}

.solicitacao-atendida {
    background-color: rgb(87, 230, 55,0.6);
    /* color: green */
}