table {
    width: 100%;
    border-collapse: collapse;
}

table thead {
    background-color: black;
    color: whitesmoke;
}

tbody tr th {
    border: 1px solid #0B466D;
}



.data-format {
    text-align: center;
}

.solicitacao-pendente {
    background-color: #fd0f04;
    /* color: red */
}

.solicitacao-atendida {
    background-color: rgb(87, 230, 55,0.6);
    /* color: green */
}