.div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 10px 0px 10px;
    border-radius: 8px;
    padding: 8px 10px;
    flex-wrap: wrap;
}


.div h6 {
    padding: 5px 10px;
    border-radius: 8px;
    width: 100%;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    transition: transform .35s;
}

.div h6:hover {
    background-color: rgb(0,0,0, 0.7);
    color: whitesmoke;
    transform: scale(1.12);
    opacity: 0.7;
}


.div-not-selected {
    background-color: rgb(128,128,128,0.5);
    color: whitesmoke !important;
}

.div-selected {
    background-color: rgb(0,0,0);
    color: whitesmoke;
}

.mainDiv {
    width: 100%;
    min-height: 94%;
    height: auto;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

.box-program {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.box-program > div {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    padding-left: 4px;
    /* font-weight: bold; */
}

.fazenda-div {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row !important;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
}

.geral-map-div{
    margin-top: 5px;
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 2px 2px 6px 0px inset, rgba(255, 255, 255, 0.1) -1px -1px 1px 1px inset;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}
.geral-map-div > div {
    border-radius: 4px;
}


.geral-program-div {
    width: 100%;
    gap: 12px;
    margin-top: 10px !important;
}


.detail-parcela-div {
    box-shadow: rgba(255, 255, 255, 0.1) 2px 2px 6px 0px inset, rgba(255, 255, 255, 0.1) -1px -1px 1px 1px inset;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px dotted black;
    gap: 10px;
}

.detail-parcela-div-mobile {
    box-shadow: rgba(255, 255, 255, 0.1) 2px 2px 6px 0px inset, rgba(255, 255, 255, 0.1) -1px -1px 1px 1px inset;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted black;
    gap: 10px;
}
.detail-parcela-div-mobile > div {
    text-align: center;
    min-width: 50%;
}

.detail-parcela-div div {
    padding: 0px 10px;
    text-align: center;
    padding-left: 0px;
}

.estagio-div{
    min-width: 32%;
    font-weight: bold;
}
.estagio-div-ipad{
    min-width: 38%;
    font-weight: bold;
}

.estagio-div p{
    margin: 7px;
}

.parcelas-resumo-div{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 90%;
}

.parcelas-resumo-div > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;

}

.parcelas-resumo-div:last-child{
    margin-bottom: 10px;
}
.parcelas-detail-div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap: 10px;
    align-items: center;
    /* align-items: center;
    justify-content: space-around;
    margin: 2px; */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2px; */
}
.parcelas-div-header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
    /* border-bottom: 1px solid black; */
    gap: 10px;
}





.date-picker-div {
    margin: 10px 20px 0px 0px;
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.date-picker {
    width: 290px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    font-weight: bold;
    margin-top: 5px;
    /* width: 80%; */
}

.date-picker-safra-ciclo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    font-weight: bold;
    margin-top: 15px;
    /* width: 80%; */
}


.title-div-picker {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.title-div-picker-moving {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

/* .parcelas-detail-div div {
    min-width: 50px;
    
} */

.div-produtos-aplicar-outside {
    margin-bottom: 20px;
    /* width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

.div-produtos-aplicar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 60px;
}

.div-produtos-aplicar-produto {
    white-space: nowrap;
    justify-content: end;
    font-weight: bold;
}

.div-produtos-aplicar-quantidade{
    font-style: italic;
    margin-right: 60px;
    /* font-weight: 600; */
}



.parcela-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 110px !important;
}
.parcela-div img {
    width: 20px;
    height: 20px;
}

.area-div {
    min-width: 60px !important;
}

@media (max-width: 1000px) {
    .cultura-div { display: none; }
    
}
@media (min-width: 1100px) {
    .variedade-div {
        min-width: 150px !important;
    }
    
}


.farm-list-div {
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    justify-content: flex-start;
}


.parcela-icon-div {
    cursor: pointer;
    display: inline-block;
}

.parcela-icon-div > img {
    vertical-align: top;
}



.parcelas-detail-div:has(.parcela-div .parcela-icon-div:hover) {
    background-color: rgb(245,245,245, 0.2);
    border-radius: 15px;
    box-shadow: inset -0.5px -0.5px 0.5px 0.5px black;
}


.parcelas-resumo-div-selected {
    background-color: rgb(0,128,0,0.3) !important;
    border-radius: 15px;
    box-shadow: inset -0.5px -0.5px 0.5px 0.5px black;
}


.emptyResultPage {
    box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media print{
    .printableGeralProgramaDiv, 
    .printableGeralProgramaDiv *{
        visibility: visible;
        zoom: 0.95;
    }
}



