                /* LOCAL SETTINGS */

.bioTable {
    min-width: 1200px;
}
                .bioTable .numberRow {
    text-align: right;
}
.titleRow{
    text-align: left;
    min-width: 150px;
}

.titleRow span{
    margin-left: 30%;
}
.numberRow span{
    margin-right: 30%;
}

.bioTable tfoot tr{
    border-top: 1px solid black;
}


                /* GENERAL SETTINGS */
/* //////////////////////////////////////////////// */
.oddRow {
    background-color: rgba(128, 128, 128, 0.3);
    color: 'whitesmoke';
}

.evenRow {
    /* background-color: white; */
    color: 'whitesmoke';
}

.evenRowLight {
    background-color: rgba(248, 248, 248, 1.0);
}


.destHeader {
    text-transform: capitalize !important;
}


tbody tr:hover {
    background-color: rgb(1, 1, 120);
}

.warningRow {
    background-color: rgba(255, 255, 0, 0.3);
}

.dateRangeTransition{
    transition: all 0.1s ease-out;
}