.table {
  color: black;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 12px;
  text-align: left;
}

.table th,
.table td {
  padding: 12px;
}

.table thead {
  background-color: #333;
  color: #fff;
}


.table tbody tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
  color: black;

}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
}

.table tfoot tr th , tfoot tr td {
  border-right: 0px !important;
}


.oddRow {
    background-color: rgba(128, 128, 128, 0.2);
}
.evenRowLight {
    background-color: rgba(248,248,248,1.0);
}