@media print {
    body * {
        visibility: hidden;
    }

    #printablediv,
    #printablediv * {
        visibility: visible;
    }

    #printablediv {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        align-items: center;
        box-shadow: none !important;
        background-color: transparent !important
    }
}