@media print {
    body * {
        visibility: hidden;
    }

    #printablediv,
    #printablediv * {
        visibility: visible;
    }

    #printablediv {
        justify-content: center;
        align-items: start;
        box-shadow: none !important;
        background-color: transparent !important
    }
}