@media print {
	body * {
		visibility: hidden;
		zoom: 0.985;
		top: -60px;
	}





	.print-ticket * {
		visibility: visible;
	}

	#printablediv2,
	#printablediv2 * {
		visibility: hidden;
	}

	#printablediv {
		/* margin-top: 20px; */
		display: flex;
		flex-direction: column;
		justify-content: start;
		width: 100%;
		height: 90%;
		align-items: center;
		box-shadow: none !important;
		background-color: transparent !important;
	}

	#printablediv2 {
		/* margin-top: 20px; */
		display: flex;
		flex-direction: column;
		justify-content: start;
		width: 100%;
		height: 90%;
		align-items: center;
		box-shadow: none !important;
		background-color: transparent !important;
	}

	#printablediv2 div,
	#printablediv div {
		background-color: transparent;
		box-shadow: none !important;
	}


	#printablediv {
		border-bottom: 1px dotted black
	}

	.print-container {
		max-width: 150% !important;
		display: flex;
		flex-direction: column;
	}
}

.print-container {
	width: 100%;
	display: flex;
	justify-content: center;
	transform: scale(0.95);
}

@media screen {
	.print-duplicate {
		display: none !important;
	}
}
	.print-divider {
		border-bottom: 1px dotted black !important;
		margin: 10mm 0 6mm !important;
		height: 0;
	}