.container{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.varChoices{
    padding: 3px 10px ;
    background-color: rgb(254,254,254,0.2);
    border-radius: 8px;
}

.varChoices:hover{
    background-color: rgb(254,254,254,0.2);   
}

.varChoiceActive{
    background-color: rgb(254,254,254,0.9) !important;   
    color: black
}

.projetoTile{
    min-width: 200px !important;
    background-color: black;
}

.calendarTable tr, td {
    text-align: center;
}
.calendarTable {

    width: auto !important;}

.calendarTable th{
    min-width: 120px;
}

.calendarTable tbody tr:nth-child(odd), tfoot tr:nth-child(odd){
    background-color: rgb(258,258,258,0.1);
}

.calendarTable tbody tr td, thead tr th, tfoot tr td{
    border-right: 1px solid black;
}
.calendarTable tbody tr td, thead tr th{
    color: whitesmoke;
    font-weight: bold;

}
.calendarTable tfoot tr td{
    border-top: 1px solid black;
    font-weight: bold;
}


.calendarTable tbody tr:hover, tfoot tr:hover{
    background-color: rgb(258,258,258,0.4);
    color: black;
}
.calendarTable tr>th:first-child,tr>td:first-child {
    position: sticky;
    left: 0;
}

  /* .calendarTable tr>td:first-child{
    padding-left: 30px;
    text-align: left;
 } */
.calendarTable tr:nth-child(odd)>td:first-child{
    background-color: rgb(11,70,109,1)
}
.calendarTable tr:nth-child(even)>td:first-child{
    background-color: rgb(11,70,99,0.9)
}  