.mainContainer {
 overflow: auto;
 /* box-shadow: rgba(0, 0, 0, 0.65) 0px 2px 10px; */
border-radius: 8px; 
 gap: 8px;
 display: flex;
 flex-direction: column;
 padding-bottom: 10px;
 padding: 0px 0px 10px 0px;
 /* padding: 10px 5px; */
 border-radius: 8px;
 /* border: 1px solid red */
}
.innerContainer {
 padding: 8px 15px;
 /* margin: 10px; */
}

.cargasData {
    color: grey;
    font-weight: 600;
}

.produtividade {
    font-weight:bold;
    width: 100%;
}


.titleProdutividade {
    font-weight: bold;
    color: antiquewhite;
}

.imgIcon {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}
.imgIconResume {
    width: 30px;
    height: 30px;
    margin-left: 12px;
}

.mapListDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scsDiv{
    display: flex;
    width: '100%';
    height: "100%";
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    /* border-radius: 50%; */
}
.scsDiv div{
    font-size: 18px;
    /* background-color: blue; */
    /* border-radius: 50%; */
}
.scsDiv p{
    font-size: 12px;
    justify-self: end;
    margin: 0;
}


.headerPageDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 20px; */
    padding-left: 20px;
    /* padding-right: 5px; */
}

.headerNameDiv{
    /* width: 100%; */
    margin-bottom: 0;
}

.prodSummary {
     box-shadow: rgba(0, 0, 0, 0.65) 0px 2px 10px;
    border-radius: 8px; 
    display: flex;
    /* width: 70%; */
    font-size: 24px;
    padding: 10px 20px;
    font-weight: bold;
    justify-content: flex-end;
    gap: 70px;
    /* margin-bottom: 20px; */
}
.prodSummary > div{
    /* font-size: 48px; */
    font-weight: bold;
}

.prodSummary img{
    width: 40px;
    height: 40px;
}

.mainInfoContainer {
    display: flex;
    /* width: 100%; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    gap: 10px;
}

.dataInfoContainer {
    display: flex;
    /* width: 100%; */
    font-size: 13px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.dataInfoContainer p{
    margin: 0px;
    text-align: right;
    text-wrap: nowrap;
    
}
.dataInfoContainerProd {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.imageInfoContainer{
    margin-right: 15px;
    margin-top: auto;
}


.resumoByVarContainer{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-grow: 0;
    gap: 5px;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    white-space: nowrap;
    /* border: 1px solid black; */
}

.MainConteinerresumoByVar{
    /* display: grid; */
    /* flex-direction: row; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* row-gap: 10px; */
    max-width: 700px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    word-wrap: normal;
    overflow: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 2px 10px;
    /* margin-bottom: -50px; */
}


.popUpMap{
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90px;
    /* height: 40px; */
}

.popUpMap button{
    height: 10px !important;
}

.popUpMapInfo {
    width: 90px;
    flex-direction: row;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    font-weight: bold;
}
.popUpMapInfoTwo {
    width: 90px;
    flex-direction: row;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    margin-top: 10px;
}

.marker-label {
    white-space: pre-line !important;
    font-size: 0.6rem !important;
    margin-top: 20px;
}

.marker-label::first-line{
    font-size: 0.9rem !important;
}

.rowTableResume th, td{
padding: 4px !important;
height: auto;
}

thead tr th {
    color: whitesmoke !important
}






.mapContainer {
	position: relative;
	width: 100%;
	height: 100vh;
}

.summaryTable {
	position: absolute;
	top: 10px;
	right: 10px;
	background: white;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}

.summaryTable h3 {
	margin: 0 0 5px;
	font-size: 16px;
	text-align: center;
}

.summaryTable table {
	width: 100%;
	border-collapse: collapse;
}

.summaryTable td {
	padding: 4px 8px;
	border-bottom: 1px solid #ddd;
}

.summaryTable td:last-child {
	text-align: right;
	font-weight: bold;
}

.summaryTable tr:last-child td {
	border-bottom: none;
}



.marker-label {
	white-space: pre-line;   /* respeita \n */
	line-height: 1.15;       /* controla espaçamento entre linhas */
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6); /* melhora leitura no satélite */
}

.marker-label {
	white-space: pre-line;
	/* line-height: 1.15; */
	font-size: 10px;
}

.marker-label span {
	font-size: 10px;
	opacity: 0.85;
}