.mainContainer {
 max-height: 650px;
 overflow: auto;
 gap: 12px;
 display: flex;
 flex-direction: column;
 padding-bottom: 10px;
 /* padding: 10px 5px; */
 border-radius: 8px;
 /* border: 1px solid red */
}
.innerContainer {
 padding: 8px 15px;
 /* margin: 10px; */
}

.cargasData {
    color: grey;
    font-weight: 600;
}

.produtividade {
    font-weight:bold;
    width: 100%;
}


.titleProdutividade {
    font-weight: bold;
    color: antiquewhite;
}

.imgIcon {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}

.mapListDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scsDiv{
    display: flex;
    width: '100%';
    height: "100%";
    align-self: stretch;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* background-color: blue; */
    /* border-radius: 50%; */
}