@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');


html, 
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'times new roman', sans-serif;
  position: fixed;
}

.app {
  display: flex;
}



::-webkit-scrollbar {
  width: 10px;
}

/*Track*/
::-webkit-scrollbar-track{
  height: 90%;
  background: #e0e0e0;
  background: #1373b4;

}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #072f48;
}

/*Handle on Hover*/
::-webkit-scrollbar-track:hover{
  background: #555
}

::-webkit-box-shadow{
  background: none !important;
}

.swal2-footer {
  color: blue !important;
  text-align: center;
  text-decoration: underline;
}