.mainContainer{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    grid-template-columns: repeat(8, 1fr);
    width: 70%;
    height: 100%;
}

.oddRow {
    background-color: rgba(128,128,128,0.2);
}

.evenRowLight {
    background-color: rgba(248,248,248,1.0);
}

.colheitaRow {
    /* background-color: rgba(0,128,0,0.5); */
    color: rgb(9, 137, 9);
    font-weight: bold;
}

/* .notColheitaRow { */
    /* background-color: rgba; */
    /* color: rgba(255,255,0,0.7); */
    /* font-weight: bold; */
/* } */

/* .semAreaInformada{
    background-color: rgba(255,255,0,0.4);
}
 */

.containerHeader {
    /* background-color: black; */
    background-color: #0b466d;
    color: whitesmoke;
    border-radius: 8px;
}

.containerHeader:hover{
    background-color: rgba(11,70,109,0.2);
    color: black;
    border: 1px solid black;
}
.headerTitle{
    margin: 8px 8px;
}

.isSelectedFarm{
    background-color: rgba(14,94,145,0.2);
    color: black;
    border: 1px solid black;
}

.mainTable tr:hover{
    background-color: rgba(3,24,36,0.8);
    cursor: pointer;
}

.closedParcela {
    background-color: rgba(11,156,49,0.3);
    
}